*{
    Parámetros Obligatorios
    ------------------------------------------
    _blobFile          = Imagen que se mostrara
    _imgSrcPath        = Ruta de la imagen
    _fieldName         = Nombre que se le dará al input

    Parámetros Opcionales
    ------------------------------------------
    _alt               = Texto alternativo
    _defaultImgSrcPath = En caso de que no haya imagen ruta de la imagen que se mostrará por default
}*

%{
    _alt = _alt ? _alt : ''
    _defaultImgSrcPath = _defaultImgSrcPath ? _defaultImgSrcPath  : '/public/images/user-perfil.png'
}%

<div class="row" ng-controller="thumbnailCtrl">
    <div class="menu-content top animated fadeIn change-user-info">
        <div class="col-md-12">
            <div class="change-image profile">
                <img id="thumbnail" class="img-responsive" #{if _imgSrcPath} src="${_imgSrcPath}" #{/if} #{else} src="${_defaultImgSrcPath}" #{/else}  alt="${_alt}">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        &{'image.tag.opciones'}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" id="upload_image">&{'image.tag.cambiar.imagen'}</a></li>
                        <input id="input_image" type="file" class="nonedisplayimportant" />
                        <input id="input_image_base64" name="${_fieldName}" type="text" class="nonedisplayimportant" #{if _imgSrcPath} value="${_imgSrcPath}" #{/if}/>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>