*{
    Parámetros Obligatorios
    ------------------------------------------
    _blobFile          = Imagen que se mostrara
    _imgSrcPath        = Ruta de la imagen
    _fieldName         = Nombre que se le dará al input

    Parámetros Opcionales
    ------------------------------------------
    _alt               = Texto alternativo
    _defaultImgSrcPath = En caso de que no haya imagen ruta de la imagen que se mostrará por default
    _includeOriginal   = Si se desea mantener el input con la imagen original (requiere _originalFieldName)
    _originalFieldName = name para la imagen original si se indica _includeOriginal como truthy
}*

%{
    _alt = _alt ? _alt : ''
    _defaultImgSrcPath = _defaultImgSrcPath ? _defaultImgSrcPath  : '/public/images/non-img.png'
}%

<div ng-controller="thumbnailCtrl">
    <div class="col-md-12">
        <div class="img-upload">
            <img id="thumbnail" class="img-responsive" width="250" height="200" #{if _imgSrcPath} src="${_imgSrcPath}" #{/if} #{else} src="${_defaultImgSrcPath}" #{/else}  alt="${_alt}">
        </div>
    </div>
      
    <div class="form-group is-empty is-fileinput">
        <label for="inputFile" class="col-md-2 control-label margin-top"> Imagen:</label>
        <div class="col-md-8 margin-top">   
                <input id="input_image" #{if _includeOriginal && _originalFieldName} name="${_originalFieldName}" #{/if} type="file"/>
                <input id="input_image_base64" name="${_fieldName}" type="text" class="form-control" #{if _imgSrcPath} value="${_imgSrcPath}" #{/if}/>     
        </div>
        <span class="material-input"></span
    </div>
</div>