*.log
*.DS_Store
*.pyc

GaleriaExpoUach/tmp
GaleriaExpoUach/lib/
GaleriaExpoUach/logs
GaleriaExpoUach/precompile
GaleriaExpoUach/javadoc
GaleriaExpoUach/nbproject
GaleriaExpoUach/.idea
GaleriaExpoUach/node_modules

GaleriaExpoUach.iml
GaleriaExpoUach.ipr
GaleriaExpoUach.iws

modules/
.idea/
/GaleriaExpoUach/test-result/

GaleriaExpoUach/.classpath
GaleriaExpoUach/.project
GaleriaExpoUach/.settings/
GaleriaExpoUach/eclipse/
GaleriaExpoUach/precompiled/

