*{<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    </body>
</html>}*

#{extends 'main.html' /}

<div>
    <p>Página de administrar contenido</p>
    #{form @upload(), enctype: 'multipart/form-data'}
        //TODO: cambiar estilo de imageTag
        //TODO: cambiar imagen por default (actualmente /public/images/user-perfil.png, requiere actualizar también en imageTag)
        #{imageTag imgSrcPath: '', fieldName: "imagen.imagenBase64", includeOriginal: true, originalFieldName: "imagen.wImagen.file"/}
        *{#{imageTag imgSrcPath: '', fieldName: "imagen.imagenBase64", includeOriginal: true, originalFieldName: "original"/}}*
        <input name="imagen.descripcion" placeholder="Descripción de la imagen"></input>
        <br/>
        <input type="submit">Subir imagen</input>
    #{/form}
</div>