#{extends 'main.html' /}
#{set title:'Admin' /}

<section id="section1" class="cd-section">
    <header class="header-top">
        <div class="logo-uach">
            <object data="@{'/public/images/escudo_header_white.svg'}" type="image/svg+xml"
                    width="190px" height="56px">
                <!-- Aqui se manda un message: cuando el navegador no soporta el svg -->
                <p>&{'navegador_no_soporta_svg'}</p>
            </object>
        </div>
        <nav class="main-nav">
            <ul>
                #{secure.check ''}<a class="cd-upload" href="@{Secure.logout()}"><i class="fa fa-sign-out"></i> Cerrar Sesión</a>#{/secure.check}
                <a class="cd-upload" href="@{Application.index()}"><i class="fa fa-file-image-o"></i> Regresar a Galería</a>
            </ul>
        </nav>
    </header>
    
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="form">
                <form id="admin-form" class="form-horizontal" action="@{upload()}" enctype="multipart/form-data" method="POST" accept-charset="UFT-8">
                    <fieldset>
                        <legend class="legend"><i class="fa fa-picture-o"></i> Administrador de Imagenes</legend>
                            #{imageTag imgSrcPath: '', fieldName: "imagen.imagenBase64", includeOriginal: true, originalFieldName: "imagen.wImagen.file"/}
                            *{#{imageTag imgSrcPath: '', fieldName: "imagen.imagenBase64", includeOriginal: true, originalFieldName: "original"/}}*

                            <!--<div class="form-group title-img">
                                <label class="col-md-2 control-label">Títlulo:</label>
                                <div class="col-md-8">
                                    <input class="form-control" name="imagen.titulo" placeholder="Título de la imagen"></input>
                                </div>
                            </div>-->

                            <div class="form-group description-img">
                                <label class="col-md-2 control-label">Descripción:</label>
                                <div class="col-md-8">
                                    <textarea class="form-control" name="imagen.descripcion" placeholder="Descripción de la imagen"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10 col-md-offset-2">
                                    <button type="submit" class="btn btn-raised btn-primary" name="save"><i class="fa fa-upload"></i> Subir imagen</button>
                                    <a href="@{Application.index()}" class="btn btn-raised btn-default" name="cancel"><i class="fa fa-trash-o"></i> Cancelar</a>
                                </div>
                            </div>    
                    </fieldset>             
                </form>
            </div>
        </div>
    </div>
</section>


    
    
    <!--#{form @upload(), enctype: 'multipart/form-data'}
    //TODO: cambiar estilo de imageTag
    //TODO: cambiar imagen por default 
    (actualmente /public/images/user-perfil.png, requiere actualizar también en imageTag)
    
    #{imageTag imgSrcPath: '', fieldName: "imagen.imagenBase64", includeOriginal: true, originalFieldName: "imagen.wImagen.file"/}
    *{#{imageTag imgSrcPath: '', fieldName: "imagen.imagenBase64", includeOriginal: true, originalFieldName: "original"/}}*
    
    #{/form}-->