<!DOCTYPE html>

<html ng-app="galeriaApp">
    <head>
        <title>#{get 'title' /}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/css/vendors/reset.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/css/vendors/vertical-fixed-navigation.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/css/vendors/login-modal-window.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/css/vendors/primary-style.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/css/vendors/font-awesome.min.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/css/vendors/font-awesome-login.min.css'}">
        <!--<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/css/vendors/bootstrap.min.css'}">-->
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    </head>
    <body>
        #{if flash.success}
            <div class="alert alert-success alert-dismissible nota-alert" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>

                <i class="fa fa-check"></i>
                ${flash.success.raw()}
            </div>
        #{/if}

        #{if flash.error || error}
            <div class="alert alert-danger alert-dismissible nota-alert" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>

                <i class="fa fa-warning"></i>
                ${error ?: flash.error.raw()}
            </div>
        #{/if}
        #{doLayout /}
        #{script '/lib/angular.js'/}
        #{script '/app/directives.js'/}
        #{script '/app/controllers.js'/}
        #{script '/app/app.js'/}
        #{script '/lib/jquery-2.1.4.js'/}
        #{script '/lib/jquery.mobile.custom.min.js'/}
        #{script '/lib/modernizr.js'/}
        #{script '/main.js'/}
    </body>
</html>
