#{extends 'main.html' /}
#{set title:'EXPO UACH 2016' /}

<html>
    <head>
        <title>EXPO UACH 2016</title>
    </head>
    <body ng-controller="galeriaCtrl">
        <nav id="cd-vertical-nav">
            <ul>
                <li>
                    <a href="#section1" data-number="1">
                        <span class="cd-dot"></span>
                        <span class="cd-label">Página Inicial</span>
                    </a>
                </li>
                <li>
                    <a href="#section2" data-number="2">
                        <span class="cd-dot"></span>
                        <span class="cd-label">Galería</span>
                    </a>
                </li>
            </ul>
        </nav>
        <a class="cd-nav-trigger cd-img-replace">Menu<span></span></a>
        
        <section id="section1" class="cd-section">
            <header class="header-top">
                <div class="logo-uach">
                    <object data="@{'/public/images/escudo_header_white.svg'}" type="image/svg+xml"
                            width="190px" height="56px">
                        <!-- Aqui se manda un message: cuando el navegador no soporta el svg -->
                        <p>&{'navegador_no_soporta_svg'}</p>
                    </object>
                </div>
                <nav class="main-nav">
                    <ul>
                        %{loggedIn = false}%
                        #{secure.check ''}
                        %{loggedIn = true}%
                        <a class="cd-upload" href="@{Secure.logout()}"><i class="fa fa-sign-out"></i> Cerrar Sesión</a>
                        <a class="cd-upload" href="@{Administracion.admin()}"><i class="fa fa-file-image-o"></i> Subir Imagen</a>
                        #{/secure.check}
                        #{if !loggedIn}<a class="cd-signin" href=""><i class="fa fa-sign-in"></i> Iniciar Sesión</a>#{/if}
                    </ul>
                </nav>
            </header>
            
            <div class="row centrado">
                <div class="col-md-4">
                    <h1 class="title-section1">Expo <b>UACH</b> <i class="fa fa-play"></i> 2016</h1>
                </div>
                <div class="col-md-4">
                    <div class="imagen-central hidden-img">
                        <img src="/public/images/expo-uach.png" width="250" height="250" />
                    </div>
                </div>
                <div class="col-md-4">
                    <h1 class="title-section-alt"> Orgullo de ser <b>UACH</b></h1>
                </div>
            </div>
	    
            <a href="#section2" class="cd-scroll-down cd-img-replace"></a>
	</section><!-- cd-section -->

        <section id="section2" class="cd-section">
            <header class="header-top-section2">
                <h1 class="heading-section"><i class="fa fa-picture-o"></i> Galería</h1>
            </header>
            <div class="margin cd-modal-action">
            #{list items: imagenes, as: 'imagen'}
                %{
                    def index = imagen_index - 1
                    def isLast = imagenes.size() == imagen_index
                    if(index == 0) {
                        out.print('<div class="row margin-top">');
                    }
                    if(index % 4 == 0) {
                        out.print('</div>');
                        out.print('<div class="row margin-top">');
                    }
                }%
                <div class="col-md-3 ">
                    <a data-type="modal-trigger" href="#0">
                        <img ng-click="selectImage('${imagen?.idWImagen}', '${imagen?.descripcion != null && imagen?.descripcion?.length() > 0 ? imagen?.descripcion : 'Sin descripción'}')" class="materialboxed-img responsive-img" width="250" height="200" #{if imagen?.imagenBase64} src="${imagen?.imagenBase64}" #{/if}#{else} src="/public/images/user-perfil.png"#{/else} >
                    </a>
                    <span class="cd-modal-bg"></span>
                    #{secure.check ''}
                    <div class="delete-img">
                        #{form @Administracion.delete(imagen?.id), method: 'DELETE', id: 'delete_' + imagen?.id}#{/form }
                        <button onclick="document.getElementById('delete_${imagen?.id}').submit(); return false;" ng-disabled="eliminando" ng-click="eliminando=true" ><i class="fa fa-times"></i> Eliminar Imagen</button>
                    </div>
                    #{/secure.check}
                </div>
                %{
                    if(isLast) {
                        out.print('</div>');
                    }
                }%
            #{/list}
            </div>
            
            <div class="cd-modal">
                <div class="cd-modal-content">
                    <div class="modal-img">
                        <image-big url="url"></imagen>
                    </div>
                    <p>{{descripcion}}</p>
                </div> <!-- cd-modal-content -->
            </div> <!-- cd-modal -->

            <a href="#0" class="cd-modal-close">Close</a>
            
        </section>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>2016. Todos los derechos reservados. Powered by <a href="http://uach.mx" target="_blank">Universidad Autónoma de Chihuahua.</a></p>
                    </div>
                </div>
            </div>
        </footer>
        <!------- MODAL INICIO DE SESION -------->
        <div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
            <div class="cd-user-modal-container"> <!-- this is the container wrapper -->
                <a href="#0" class="cd-close-form">Cerrar</a>
                <ul class="cd-switcher">
                    <li><a href="#0"><i class="fa fa-lock"></i> Iniciar Sesión</a></li>
                </ul>

                <div id="cd-login"> <!-- log in form -->
                    <form id="login-form" class="cd-form" action="@{controllers.Secure.authenticate()}" enctype="multipart/form-data" method="POST" accept-charset="UFT-8">
                        <p class="fieldset">
                            <label class="image-replace cd-email" for="signin-email">Usuario</label>
                            <input class="full-width has-padding has-border" id="signin-email" name="username" type="text" placeholder="Username">
                            <span class="cd-error-message">Mensaje de Error!</span>
                        </p>

                        <p class="fieldset">
                            <label class="image-replace cd-password" for="signin-password">Contraseña</label>
                            <input class="full-width has-padding has-border" id="signin-password" name="password" type="password" placeholder="Contraseña">
                            <a href="#0" class="hide-password">Mostrar</a>
                            <span class="cd-error-message">Mensaje de Error!</span>
                        </p>

                        <p class="fieldset">
                            <input type="checkbox" name="remember" class="filled-in" id="filled-in-box" checked="checked">
                            <label for="filled-in-box">Recordarme</label>
                        </p>
                        
                        <p class="fieldset">
                            <button class="full-width" type="submit" value="Acceder">Acceder</button>
                        </p>
                    </form>
                </div> <!-- cd-login -->
            </div> <!-- cd-user-modal-container -->
        </div> <!-- cd-user-modal -->
    </body>
</html>
