#{extends 'main.html' /}
#{set title:'Home' /}

<html>
    <head>
        <title>Hello!</title>
    </head>
    <body>
        <nav id="cd-vertical-nav">
            <ul>
                <li>
                    <a href="#section1" data-number="1">
                        <span class="cd-dot"></span>
                        <span class="cd-label">Página Inicial</span>
                    </a>
                </li>
                <li>
                    <a href="#section2" data-number="2">
                        <span class="cd-dot"></span>
                        <span class="cd-label">Galería</span>
                    </a>
                </li>
            </ul>
        </nav>
        <a class="cd-nav-trigger cd-img-replace">Menu<span></span></a>
        
        <section id="section1" class="cd-section">
            <header class="header-top">
                <nav class="main-nav">
                    <ul>
                        <a class="cd-signin" href="">Iniciar Sesión</a>
                    </ul>
                </nav>
            </header>
            <h1>Expo <b>UACH</b> 2016</h1>
		<a href="#section2" class="cd-scroll-down cd-img-replace">scroll down</a>
	</section><!-- cd-section -->

        <section id="section2" class="cd-section" ng-controller="galeriaCtrl">
            <div class="content-wrapper">
                <h3 class="heading-section">Galería</h3>
                <div class="cd-slider-wrapper">
                    <ul class="cd-slider">
                        #{list items: imagenes, as: 'imagen'}
                        <li class="visible">
                            <div class="cd-svg-wrapper">
                                <div class="cd-svg-wrapper">    
                                    <img ng-click="selectImage('${imagen?.idWImagen}')" #{if imagen?.imagenBase64} src="${imagen?.imagenBase64}" #{/if}#{else} src="/public/images/user-perfil.png"#{/else}  width="250" height="250" alt="${imagen?.descripcion}" >
                                    <p><a href="@{imageFor(imagen?.idWImagen)}">${imagen?.descripcion}</a></p>
                                </div> <!-- .cd-svg-wrapper -->
                            </div>
                        </li>
                        #{/list}
                        <image-big url="url"></imagen>
                    </ul>

                    <ul class="cd-slider-navigation">
                        <li><a href="#0" class="next-slide">Siguiente</a></li>
                        <li><a href="#0" class="prev-slide">Anterior</a></li>
                    </ul> <!-- .cd-slider-navigation -->

                    <ol class="cd-slider-controls">
                        #{list items: imagenes, as: 'imagen'}
                        <li class="selected"><a href="#${imagen_index - 1}"><em>Item ${imagen_index - 1}</em></a></li>                       
                        #{/list}
                    </ol> <!-- .cd-slider-controls -->
                </div>
            </div>
        </section><!-- cd-section -->
        
        <!------- MODAL INICIO DE SESION -------->
        <div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
            <div class="cd-user-modal-container"> <!-- this is the container wrapper -->
                <a href="#0" class="cd-close-form">Cerrar</a>
                <ul class="cd-switcher">
                    <li><a href="#0"><i class="fa fa-lock"></i> Iniciar Sesión</a></li>
                </ul>

                <div id="cd-login"> <!-- log in form -->
                    <form id="login-form" class="cd-form" action="@{controllers.Secure.authenticate()}" enctype="multipart/form-data" method="POST" accept-charset="UFT-8">
                        <p class="fieldset">
                            <label class="image-replace cd-email" for="signin-email">Usuario</label>
                            <input class="full-width has-padding has-border" id="signin-email" name="username" type="text" placeholder="Username">
                            <span class="cd-error-message">Mensaje de Error!</span>
                        </p>

                        <p class="fieldset">
                            <label class="image-replace cd-password" for="signin-password">Contraseña</label>
                            <input class="full-width has-padding has-border" id="signin-password" name="password" type="password" placeholder="Contraseña">
                            <a href="#0" class="hide-password">Hide</a>
                            <span class="cd-error-message">Mensaje de Error!</span>
                        </p>

                        <p class="fieldset">
                            <input type="checkbox" id="remember-me" checked>
                            <label for="remember-me">Recordarme</label>
                        </p>

                        <p class="fieldset">
                            <button class="full-width" type="submit" value="Acceder">Acceder</button>
                        </p>
                    </form>
                </div> <!-- cd-login -->
            </div> <!-- cd-user-modal-container -->
        </div> <!-- cd-user-modal -->
    </body>
</html>
